animate/~$CSS_Animation.pptx
animate/css_animation.mp4
animate/CSS_Animation.pptx
animate/css_animation.wlmp
animate/keyframe1.mp4
animate/keyframe2.mp4
animate/subproperties1.png
animate/subproperties2.png
animate/WDD230-Test.mp4
