/* 64em is also 1028px when basefont is 16px*/

@media only screen and (min-width: 64rem) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 20px;
    margin: 0.5rem 0;
  }

  nav {
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    margin-top: 2rem;
  }
  .social {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  .logo-container {
    height: 100px;
    max-width: 100px;
    display: block;
  }
  .headings {
    margin-top: 2rem;
  }
  nav button {
    display: none;
  }
  nav ul.open {
    background-color: transparent;
  }
  nav ul#primaryNav {
    display: flex;
    justify-content: center; /*center; or flex-end for right aligned*/
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.4);

    padding: 0.5rem 1rem;
    background-color: var(--color2); /*how does this know what color2 is?*/
  }

  main {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 200px 200px;
    overflow: hidden;
    margin: 0.5rem;
  }

  .event {
    grid-column: 1;
    display: block;
  }
  .event > h4 {
    margin: 0.2em;
  }
  #bulldog {
    max-width: 80px;
  }
  .hero {
    grid-column: 2;
    grid-row: 1/3;
  }
  .hero > img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: none;
    /*object-fit: cover; will fill the div */
    overflow: hidden;
  }
  .wind {
    font-size: 1rem;
  }

  .row3,
  .row4 {
    margin-top: -0.5em;
  }
  .news {
    grid-column: 2;
    grid-row: 3;
  }
  .spotlight {
    grid-column: 3;
    grid-row: 1/4;
    display: block;
    padding: 0;
    border: none;
    margin: -0.3em auto;
  }
  .spotlight > div {
    max-width: 20vw;
    grid-template-rows: 0.5fr 1fr 1fr;
    max-height: 200px;
    padding: 0.2em;
    margin: 0.4em 0 0.4em 0.4em;
  }

  #spot3 {
    display: inherit;
    padding-bottom: 1em;
  }

  .spot-contact {
    line-height: 0.1em;
    font-size: 0.8rem;
  }

  .join {
    display: block;
    grid-column: 1;
    grid-row: 3;
  }
  footer {
    grid-template-columns: 1fr 2fr 1fr;
    max-height: 150px;
    margin: 0.5rem 0;
    padding-top: 0.5em auto;
  }

  .footer-logo {
    grid-column: 1/3;
  }
  .footer-logo > img {
    height: 80px;
    max-width: 80px;
    display: block;
  }

  .find-us {
    grid-column: 3;
    text-align: center;
    font-size: 1rem;
  }
  .about {
    padding-top: 0.8em auto;
  }
  #last-update {
    padding-bottom: 0;
    flex-basis: 25%;
    text-align: left;
  }
  #last-seperator {
    display: block;
  }
  picture {
    overflow: hidden;
  }
}
