@media only screen and (min-width: 35rem) {
  .logo {
    margin-left: 1vw;
  }
  .logo-container {
    height: 60px;
    max-width: 60px;
    display: block;
  }
  .headings {
    text-align: left;
    margin-left: 0.5rem;
  }
  .headings1 {
    font-size: 1.5rem;
  }
  .headings2 {
    font-size: 1rem;
    margin-top: -0.8rem;
  }
  #instagram {
    margin-left: 0.5rem;
  }
  .headerDate {
    font-size: 1rem;
  }

  .social img {
    max-width: 40px;
  }
  main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .hero {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .event {
    display: inline-block;
  }

  #weather-words {
    font-size: 1.2rem;
  }

  .row4 {
    margin-top: -0.2em;
  }
  .news {
    grid-column: 1/3;
    grid-row: 2;
  }

  .spotlight {
    grid-column: 1/3;
    grid-row: 3;
    border: 1px solid black;
    display: flex;
  }
  .spotlight > div {
    width: 50vw;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
  }
  .spotlight h3 {
    padding: 0;
    margin: 0;
  }
  .join {
    display: flex;
    grid-column: 1/3;
    grid-row: 4;
    align-items: center;
    justify-content: center;
  }
  .join > button {
    margin: 0.5em;
  }

  footer {
    text-align: left;
    font-size: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }
  footer > div {
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    display: flex;
  }
  #footer-address {
    padding-left: 1em;
  }
  .email {
    margin-top: 0.5em;
  }
  footer .seperator {
    display: block;
  }

  .about {
    margin-top: 0;
    margin-bottom: 0;
    border-top: var(--color1) solid 1px;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about > * {
    margin-top: -0.5rem;
    padding-right: 1rem;
  }

  #last-update {
    padding-bottom: 0;
    flex-basis: 100%;
    text-align: center;
  }
  #last-seperator {
    display: none;
  }
  /************** DISCOVER PAGE SPECIFIC **********************/
  .discoverImg:hover {
    box-shadow: 0 0 50px rgb(102, 55, 55);
    filter: blur(1px) grayscale(50%);
  }
  /*********** END DISCOVER PAGE ***********/

  /**THANK YOU PAGE***/
  #thanks {
    display: block;
  }
  #thanks p {
    margin: 0.5em auto;
    width: 550px;
  }

  /*Directory page */
  #directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #directory img {
    max-height: 200px;
  }
}
