/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  --color1: #f0ece2;
  --color2: #dfd3c3;
  --color3: #c7b198;
  --color4: #596e79;
  --color5: #ffffff;
  --color6: #8d021f;

  background-color: var(--color1);
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: auto;
}
img {
  max-width: 100%;
}

header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  font-size: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color4);
  color: var(--color5);
}
.logo {
  grid-column: 1;
  display: flex;
}
.logo-container {
  height: 40px;
  max-width: 40px;
  display: block;
}
nav {
  text-align: right;
}
nav button {
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
  display: none;
}
nav ul.open {
  display: block;
  background-color: var(--color2);
}
nav ul li a {
  display: block; /* make entire block of li clickable*/
  padding: 0.5vh 1vh;
  text-decoration: none;
  color: var(--color6);
  border-top: 1px solid var(--color6);
  font-size: 1rem;
}

nav ul li a:hover {
  background-color: var(--color3);
}
#hamburgerBtn {
  padding-top: 0.2vh;
  margin: 0;
  margin-left: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: var(--color2);
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
.social {
  margin-left: 0.5rem;
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.social img {
  max-width: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.headerDate {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  margin: 0.5rem 1rem;
  padding: 0;
  padding-top: 0.5rem;
  background-color: var(--color4); /*#748e9c;*/
  color: var(--color5);
  font-size: 0.7rem;
  font-weight: bolder;
  border-top: 1px solid var(--color2);
}

.headings {
  margin-left: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.headings1 {
  font-size: 0.8rem;
  margin-top: -0.4rem;
}
.headings2 {
  font-size: 0.5rem;
  margin-top: -0.4rem;
}
main > div {
  border: 1px solid;
  margin: 0.5vh;
  padding: 0.5vh;
}

.attention button {
  display: none;
}
.attention button.show {
  display: inline-block;
  margin: 0.5em;
}
.attention {
  border: none;
  text-align: center;
}
/*
.show {
  
  height: 40px;
  background-color: var(--color6);
  color: var(--color5);
  font-size: 1rem;
  border-radius: 15px;
  text-align: center;
}*/
.event {
  text-align: center;
}
.event > p {
  margin: 0;
}
.event ul {
  padding: 0;
  list-style: none;
  margin: auto;
}
.weather {
  text-align: center;
}
.weather h3 {
  font-size: 2rem;
  color: var(--color6);
  text-align: center;
  margin: 0;
  grid-column: 1/3;
}
#weather-caption {
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-top: -0.5em;
  color: var(--color6);
}
.temp {
  display: flex;
  justify-content: center;
}
.degree {
  font-size: 1.25rem;
}
.weather img {
  max-width: 200px;
}
#weather-words {
  font-size: 2rem;
  margin-top: 0;
  margin-left: 0.2em;
  padding: 0;
  text-align: left;
}
.wind {
  font-size: 1.25rem;
  width: 100%;
  margin-top: -0.5em;
}

.join {
  display: none;
}
.join button {
  background-color: var(--color6);
  color: var(--color5);
  font-size: 2rem;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-shadow: 10px 5px 5px rgb(182, 177, 177);
}
.news {
  padding: 0 1em;
}
.news h2 {
  color: var(--color6);
  text-align: center;
  margin: 0.5em auto 0.2em auto;
}
.news p {
  margin-top: 0.2em;
}
.spotlight {
  border: none;
}
.spotlight > div > h2 {
  margin: 0;
  padding: 0;
}
.spotlight > div {
  min-width: 15vw;
  border: 0.2em solid var(--color4);
  margin: 1vh;
  padding: 2vh;
  text-align: center;
}
.spot2 {
  line-height: 0.5em;
}
.spot-contact {
  margin: 0;
  padding: 0;
  line-height: 0.5em;
}

#spot3 {
  display: none;
}
footer {
  background-color: var(--color4);
  color: var(--color5);
  text-align: center;
  margin: 1vh;
  padding: 2vh;
}

footer .address {
  margin-top: -1rem;
}
footer .address1 {
  margin-top: -1rem;
}

footer .address2 {
  margin-top: -1rem;
}

footer .phone {
  margin-top: -1rem;
}
.map {
  margin-top: -1rem;
}
footer .map a {
  text-decoration: none;
  color: var(--color5);
}
footer hr {
  padding: 2vh;
  background-color: var(--color5);
}
footer .seperator {
  display: none;
}
#weather-credit:link,
#weather-credit:visited {
  color: var(--color5);
}
.about {
  padding-top: 1.3rem;
  border-top: var(--color1) solid 1px;
  margin: 1rem;
}

.about > * {
  margin-top: -1rem;
  padding: 0;
}
#last-update {
  padding-bottom: 0.5rem;
}

/*banner with css animation and js show/hide dependant on date*/
.flash-container {
  background-color: var(--color6);
  color: var(--color5);
  margin: 0.5em;

  font-size: 1.25em;
}
.flash-container p {
  display: none;
}
.flash-container p.show {
  display: block;
}
#flash {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
  padding: 1em;
  text-align: center;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    text-align: left;
  }

  to {
    margin-left: 0%;
    width: 50%;
    text-align: left;
  }
}

/************** DISCOVER PAGE SPECIFIC **********************/
.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}
.discoverImg {
  margin: 0;
  padding: 0;
}
.discover figure {
  margin: 2em 0;
  padding: 0;
}
.blurb {
  border: none;
  margin-top: -2em;
  max-width: 400px;
}

.discover * figcaption {
  max-width: 400px;
}

#visit-seperator {
  display: none;
}
/****** END DISCOVER PAGE *****/

/************ JOIN PAGE ************/
#joinPage {
  display: block;
}

#joinPage form fieldset {
  margin: 1em;
  border-radius: 10px;
  border: 1px solid var(--color4);
  max-width: 30rem;
}
form legend {
  font-size: 1.2rem;
  padding: 0.2em 0.4em;
}

form label.top {
  display: block;
  padding-bottom: 0.8rem;
  max-width: 100%;

  font-weight: 600;
}

form label.top input,
textarea {
  display: block;
  border-radius: 5px;
  border: 1px solid var(--color4);
  padding: 0.75rem;
  margin: 0;
  width: 100%;
  max-width: 20rem;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  margin: 0.2em;
  font-weight: 600;
}
form label.sbs input[type="radio"] {
  margin: 0 0.5em;
}

#btnJoin {
  background-color: var(--color6);
  color: var(--color5);
  padding: 0.6em;
  border-radius: 20px;
  font-size: 1.5rem;
  margin: auto 0.5em 1em 0.5em;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: 4px solid var(--color6);
}
form label.top input:required:valid {
  border: 1px solid var(--color4);
}
#joinPage .membership {
  display: none;
}

/**THANK YOU PAGE***/
#thanks p {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.2rem;
}

/** Directory page **/
#directory.grid .card,
.card2 {
  background-color: var(--color2);
  border: 2px solid var(--color4);
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #888;
  overflow: hidden;
}
#directory.grid img {
  border-radius: 10px;
}
#directory.grid .cardTitle {
  color: var(--color6);
  font-size: 1.2rem;
}

#directory.list .cardImage {
  display: none;
}
#directory.list .cardDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#directory.list .cardTitle {
  color: var(--color6);
  font-size: 1em;
}
