@media only screen and (min-width: 54rem) {
  header {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .weather {
    display: flex;
    align-items: flex-end;
  }
  main {
    width: 1000px;
  }
  main img {
    margin: 1em;
  }
  .odd {
    float: right;
  }
  .even {
    float: left;
  }
}
