@media only screen and (min-width: 54rem) {
  .grid-container,
  .footer-container {
    max-width: 1225px;
  }
  main {
    width: 1000px;
  }
  main > p {
    word-wrap: normal;
    width: fit-content;
    max-width: fit-content;
  }
  main img {
    margin: 1em;
  }
  .odd {
    float: right;
  }
  .even {
    float: left;
  }
  /****fresh page************/
  main#fresh {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
