html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  --color1: #4c4332; /* #677a75;*/
  --color2: #8a8d6e;
  --color3: #725438;
  --color4: #e2954d;
  --color5: #253e38;
  --color6: #e7e6e7;

  background-color: var(--color1);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Holtwood One SC", serif;
}

header {
  background-color: var(--color2);

  width: 100%;
}
.container {
  display: flex;
}
nav ul {
  list-style: none;
}
nav ul li {
  border: solid 2px var(--color5);
  border-radius: 5px;
  margin-top: 2em;
  display: block;
  width: 100%;
  height: 100%;
}
nav ul li:hover {
  box-shadow: 0 0 50px var(--color4);
  /*filter: blur(1px) grayscale(50%);*/
}

nav ul li a {
  text-decoration: none;
  color: var(--color1);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 2em;
  display: block;
  width: 100%;
  height: 100%;
}
.active {
  color: var(--color6);
}
/*
nav ul li a:hover {
  color: var(--color4);
}
nav ul li a.active:hover {
  color: var(--color5);
}*/
.drink {
  width: 100px;
  height: 200px;
  border: 1px solid var(--color5);
  background-color: var(--color6);
}
.color1 {
  background-color: var(--color1);
}
.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.color4 {
  background-color: var(--color4);
}

.color5 {
  background-color: var(--color5);
}

.color6 {
  background-color: var(--color6);
}

main {
  background-color: var(--color6);
  width: 1000px;

  margin: 1em 1em 1em 2em;
  padding: 1em;
}
main img {
  margin: 1em;
  border: 1px solid var(--color5);
}
footer {
  background-color: var(--color2);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.right {
  float: right;
}
.left {
  float: left;
}
.content {
  margin: 1em;
  padding: 1em;
}
#contact-name {
  /*color: var(--color5);*/
  font-size: 1.5em;
  height: 5vh;
  font-family: "Holtwood One SC", serif;
  padding-left: 1em;
}
.social {
  padding: 0.5em;
  justify-content: right;
  text-align: right;
}
.social a {
  text-decoration: none;
}
