html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  --color1: #4c4332; /* #677a75;*/
  --color2: #8a8d6e;
  --color3: #9c7d5f; /*#725438;*/
  --color4: #e2954d;
  --color5: #253e38;
  --color6: #e7e6e7;

  background-color: var(--color1);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Holtwood One SC", serif;
}
img {
  max-width: 100%;
}

header {
  background-color: var(--color2);
  width: 100%;
}
.weather {
  display: none;
}
.weather2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.weather-card {
  min-width: 125px;
  background-color: rgba(183, 185, 157, 0.5);
  text-align: left;
  margin: 0.2em;
  padding: 0.5em;
  line-height: 1.5em;
  text-transform: capitalize;
}
.weather2 img {
  border: none;
}

/* styling for hamburger/nav */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
  display: none;
}
nav ul.open {
  display: block;
  background-color: var(--color2);
}
#drinks-ordered {
  display: none;
}
#drinks-ordered.open {
  display: block;
  text-align: left;
}
.order-card {
  border: solid 2px var(--color4);

  background-color: var(--color2);
  border-radius: 5px;
  margin: 2em 0.5em 0.5em 0.5em;
  padding: 1.2em;
  display: block;

  text-align: center;
  font-size: large;
  line-height: 1.5rem;
}
/*hamb nav style */

nav ul li {
  border: solid 2px var(--color5);
  border-radius: 5px;
  margin-top: 2em;
  display: block;
  width: 100%;
  height: 100%;
}
nav ul li:hover {
  box-shadow: 0 0 50px var(--color4);
  /*filter: blur(1px) grayscale(50%);*/
}

nav ul li a {
  text-decoration: none;
  color: var(--color1);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 2em;
  display: block;
}

.active {
  color: var(--color6);
}

/*toggle between hamburger button x or menu symbol*/
#hamburgerBtn {
  /*padding-top: 0.2vh;*/
  padding: 1em;
  margin: 0;
  margin-left: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: var(--color2);
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
/* hamburger button */

.btn-action {
  background-color: var(--color4);
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid var(--color5);
  border-radius: 15px;
}
.color1 {
  background-color: var(--color1);
}
.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.color4 {
  background-color: var(--color4);
}

.color5 {
  background-color: var(--color5);
}

.color6 {
  background-color: var(--color6);
}

main {
  background-color: var(--color6);
  margin: 0.2em;
  padding: 1em;
}
main#home {
  text-align: center;
}
main img {
  border: 1px solid var(--color5);
}
footer {
  background-color: var(--color2);
  width: 100%;
}
#last-update {
  text-align: center;
  margin: 0.5em 0.5em 0.5em 1em;
}
.content {
  margin: 1em;
  padding: 1em;
}
.contact {
  padding-left: 1em;
  font-size: 1.5em;
  text-align: center;
}
#contact-name {
  font-family: "Holtwood One SC", serif;
}
.social {
  padding: 0.5em;
  text-align: center;
}
.social a {
  text-decoration: none;
}
/******************** FRESH PAGE***************************/

form fieldset {
  margin: 1em;
  border-radius: 10px;
  border: 1px solid var(--color4);
  max-width: 25rem;
}
form legend {
  font-size: 1.5rem;
  padding: 0.2em 0.4em;
  color: var(--color5);
}
form label.top {
  display: block;
  padding-bottom: 0.8rem;
  max-width: 100%;

  font-weight: 600;
}

form label.top input,
textarea,
select {
  display: block;
  border-radius: 5px;
  border: 1px solid var(--color4);
  padding: 0.75rem;
  margin: 0;
  width: 100%;
  max-width: 20rem;
}

form input[type="submit"] {
  background-color: var(--color4);
  padding: 0.6em;
  border-radius: 20px;
  font-size: 1.5rem;
  margin: 0;
  width: 96%;
  max-width: 20rem;
}

.fruit-card {
  background-color: rgba(183, 185, 157, 0.5);
  text-align: left;
  margin: 1em 0.5em;
  padding: 1em;
  text-transform: capitalize;
  max-width: 25rem;
  border: 0.5px solid var(--color5);
  border-radius: 20px;
}
.fruit-card > p {
  margin: 0 0.5em 0.2em 0.5em;
}
#total-nutrition {
  background-color: rgba(226, 149, 77, 0.5);
}
#order-results {
  border: 0.5px solid var(--color5);
  border-radius: 20px;
  max-width: 25rem;
  margin: 1em;
  padding: 1em;
  text-align: left;
}
#order-results h2 {
  margin: 0;
}
/******* About page ************/
main#about {
  text-align: center;
}
