body {
  background-image: url(clouds.jpg);
}
.box {
  height: 100vh;
  width: 100vw;
}
.box > img {
  animation: drift 20s infinite;
}

@keyframes drift {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(100vw);
  }
}

/** use with ball example**/
/* makes a shadow
.shape {
  width: 100px;
  margin: auto;
  height: 6px;
  background: #000;
  filter: blur(9px);
}
*/

a {
  color: rgb(124, 7, 7);
  font-size: 1.5rem;
}

h2 {
  color: white;
}
