:root {
  --color1: #f0ece2;
  --color2: #dfd3c3;
  --color3: #c7b198;
  --color4: #596e79;
  --color5: #ffffff;
  --color6: #8d021f;
}
body {
  background-color: var(--color1);
}
header,
footer {
  background-color: var(--color3);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--color5);
}

nav {
  background-color: var(--color4);
  margin: 0 auto;
  /*max-width: 780px;*/
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav ul li a {
  display: block;
  color: var(--color5);
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  /*background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
    var(--d, 0) 3px no-repeat;
Not sure what line above does */
  transition: 0.5s;
}

.target,
.typography {
  padding: 5rem;
}

.target h4 {
  margin-bottom: -5px;
}
.target ul {
  padding-bottom: 3rem;
}
#font-headings {
  font-family: "Times New Roman", serif;
}
#font-normal {
  font-family: tahoma, sans-serif;
}
.active {
  color: var(--color3);
}
a:hover {
  background-color: var(--color2);
  color: var(--color6);
}
.color {
  height: 100px;
  text-align: center;
  padding-top: 20px;
}
#color1 {
  background-color: var(--color1);
}
#color2 {
  background-color: var(--color2);
}
#color3 {
  background-color: var(--color3);
}
#color4 {
  background-color: var(--color4);
}
#color5 {
  background-color: var(--color5);
}
#color6 {
  background-color: var(--color6);
  color: var(--color5);
}

@media only screen and (min-width: 37.5em) {
  header {
    align-items: flex-start;
  }
  h1 {
    font-size: 1.5rem;
  }

  /*Horizontal Menu Examples */
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 auto;
  }
  .target {
    max-width: 780px;
    margin-left: 10em;
  }
  .target h4 {
    margin-left: 2em;
  }
  .typography {
    max-width: 780px;
    margin: auto;
    text-align: center;
  }
}
