:root {
    --main: #485a3eff;
    --headers: #e8ecedff;
    --attention: #FF9F1C; 
    --links:#D77A61;
    --visited: #BFB48F;
    /*--headers:#DC965A;*/
    --text1:#040911;
    --back: #C3B498;
    --color3: #32403cff;   
    --color7: #798287ff;
    
    color: var(--text6);
    font-family: helvetica, serif; 
    --nav-link-color: var(--attention);
}
/*
a:link{
    color:var(--links);
}
a:visited {
    color: var(--visited);
}
a.seen{
    color:var(--visited);
}

*/
a:link {
    color: var(--attention);
}

a:visited {
    color: var(--headers);
}

a.seen {
    color: var(--headers);
}

/*
.color2 {
    color: var(--color2);
    font-family: serif;
    font-size: x-large;
}
.color3 {
    
    font-family: arial;
    font-size: x-large;
}

.color5{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;}
.color6 {
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.color7{
    
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: x-large; }
*/
.color4 {
    color: #040911;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
h1,h2,h3,h4,h5,h6{
    color: var(--headers);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

body{
    background-color: var(--main);
    margin:2em;
}
.box{
    background-color: var(--back);
    border-style: solid;
    display: block;
    width: 20%;
    margin:2em;
}
.loud{
    color: var(--attention);
}
nav ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    }
nav ul li {
    flex: 1 1 auto;
}
@media only screen  and (max-width:675px){
    nav ul {
        display:block;
    }
}